@media (max-width: 1920px) {

    .ContainerTitles {
        width: 40%;
        margin-left: 30%;
    }

    .inner-headings {
        text-align: center;
        /* background-color: aquamarine; */
        width: 75%;
        font-size: 300%;
        color: white;
        z-index: 0;
        margin-top: 2%;
        margin-left: 13%;
        border: 0px solid #ddd;
        height: 80px;
        line-height: 80px;
        text-transform: uppercase;
        /* overflow: hidden; */
    }

    #CVImage {
        scale: 80%;
        margin-top: 5%;
        margin-bottom: 2%;
        border-radius: 30px;
    }
}