/*GLOBAL STYLES*/
* {
  font-family: "Parkinsans", sans-serif;
  margin: 0;
  padding: 0;

}

footer {
  background: #072b1c;
  padding: 1%;
  gap: 40%;
  width: 98%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  color: white;
}


/*------------------------*/
/*STYLES INDEX*/
body::-webkit-scrollbar {
  display: none;
}

#LanguageSelect {
  /* margin-right: 5%; */
  padding: 0.5%;
  appearance: none;
  width: 4%;
  text-align: center;
  border-radius: 10px;
  color: white;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#LanguageSelect:hover {
  cursor: pointer;
}

option {
  color: black;
}

option:hover{
  cursor: pointer;
}

#BodyIndex {
  background-image: url(../ImagesVideos/Artboard\ 1.png);
  background-position: center;
  background-size: cover;
  /* position: static; */
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;
}

header {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

#MenuItems #Active a {
  color: #22ce89;
  font-weight: bolder;
}

#MenuItems a {
  color: white;
}

.HeaderMobile,
#LogoMobile {
  display: none;
}

.fa-xmark {
  visibility: hidden;
}

#LogoHeader {
  width: 50px;
  height: 50px;
}

#Menu {
  display: flex;
  position: fixed;
  justify-content: space-between;
  border-radius: 16px;
  background: #116242a2;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.40),
    0 4px 20px #116242a2;
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  padding: 0% 1%;
  margin-top: 1%;
  width: 80%;
  z-index: 2;
}

#MenuItems {
  display: flex;
  margin: 1%;
  width: 100%;
  gap: 15%;
  justify-content: center;
  padding: 1%;
  font-size: 120%;
}

li {
  list-style: none;
  transition: 0.5s;
}


li:hover {
  transform: scale(1.2);
  cursor: pointer;
}



#MenuItems #Active:hover {
  transform: scale(1);
  transition: 0.5s;
}

button {
  background: none;
  padding: 1%;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  font-size: 110%;
  border-radius: 10px;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #5e967b;
}

.MainIndex {

  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ContainerTitles {
  margin-top: 18%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  text-align: center;
  color: white;
  margin-left: 37%;
  /* background-color: aliceblue; */
  width: 26%;
}

.Title {
  font-size: 8rem;
}

.Subtitle {
  font-size: 4rem;
}

.inner-headings {
  text-align: center;
  /* background-color: aquamarine; */
  width: 55%;
  font-size: 400%;
  color: white;
  z-index: 0;
  margin-top: 0%;
  margin-left: 23%;
  border: 0px solid #ddd;
  height: 80px;
  line-height: 80px;
  text-transform: uppercase;
  overflow: hidden;
}

.inner-headings span {
  position: relative;
  animation: TextRotating 13s ease-in-out infinite;
  color: #116241;
  font-weight: bolder;
}

@keyframes TextRotating {

  20% {
    top: 0;
  }

  40% {
    top: -80px
  }

  60% {
    top: -160px;
  }

  80% {
    top: -240px;
  }

  90% {
    top: -320px;
  }

  100% {
    top: -400px;
  }
}

.ButtonCurriculum {
  display: flex;
  flex-direction: column;
  margin-top: 15.5%;
  margin-left: 45%;
  scroll-behavior: smooth;
  text-align: center;
  font-size: 200%;
  color: white;
  width: 10%;
  /* background-color: brown; */

}

.CVsection {
  display: flex;
  justify-content: center;
  background-color: #116241;
}

#CVImage {
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 30px;
}

/*------------------------*/

/* STYLES PROJECTES */
#BodyProjectes,
#BodySobreMi {
  background-image: url(../ImagesVideos/SmallHexagon_Web_Gradient33.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.GeneralContainer {
  position: absolute;
  /* background-color: aquamarine; */
  width: 100%;
  display: flex;
  padding-top: 12%;
  flex-direction: column;
  align-items: center;
}

.ContainerFlexOptions {
  /* background-color: antiquewhite; */
  margin: 1% 0% 4% 0%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
}

.ContainerOption {
  display: flex;
  justify-content: center;
  position: relative;
  width: 35%;
  border-radius: 20px;
  color: white;
  height: 100%;
  padding: 7% 0%;
}

.TextContainer {
  position: relative;
}

.ContainerOption h1 a {
  color: white;
}

.TextContainer:hover {
  cursor: pointer;
}

/* Code for background section project gun */

#BGoptionProjectGun {
  position: relative;
  overflow: hidden;
}

#BGoptionProjectGun::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../ImagesVideos/BG_ProjectGunOption.png);
  background-size: cover;
  background-position: center;
  filter: blur(3px) grayscale(100%);
  transition: 0.5s;
  z-index: 0;
}

#BGoptionProjectGun:hover::before {
  cursor: pointer;
  filter: blur(0px) grayscale(0%);
  transition: 0.5s;
}

/*------------------*/

/* Code for background section project Dummy */

#BGoptionProjectDummy {
  position: relative;
  overflow: hidden;
}

#BGoptionProjectDummy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../ImagesVideos/BG_ProjectDummyOption.png);
  background-size: cover;
  background-position: center;
  filter: blur(3px) grayscale(100%);
  transition: 0.5s;
  z-index: 0;
}

#BGoptionProjectDummy:hover::before {
  cursor: pointer;
  filter: blur(0px) grayscale(0%);
  transition: 0.5s;
}

/*------------------*/

/* Code for background section project House */

#BGoptionProjectHouse {
  position: relative;
  overflow: hidden;
}

#BGoptionProjectHouse::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../ImagesVideos/BG_ProjectHouseOption.jpeg);
  background-size: cover;
  background-position: center;
  filter: blur(3px) grayscale(100%);
  transition: 0.5s;
  z-index: 0;
}

#BGoptionProjectHouse:hover::before {
  cursor: pointer;
  filter: blur(0px) grayscale(0%);
  transition: 0.5s;
}

/*------------------*/

/* Code for background section project Dwarf */

#BGoptionProjectDwarf {
  position: relative;
  overflow: hidden;
}

#BGoptionProjectDwarf::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../ImagesVideos/BG_ProjectDwarfOption.png);
  background-size: cover;
  background-position: center;
  filter: blur(3px) grayscale(100%);
  transition: 0.5s;
  z-index: 0;
}

#BGoptionProjectDwarf:hover::before {
  cursor: pointer;
  filter: blur(0px) grayscale(0%);
  transition: 0.5s;
}

/*------------------*/

/* Code for background section project SculptMan */

#BGoptionProjectSculptMan {
  position: relative;
  overflow: hidden;
}

#BGoptionProjectSculptMan::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../ImagesVideos/BG_ProjectSculptManOption.jpeg);
  background-size: cover;
  background-position: center;
  filter: blur(3px) grayscale(100%);
  transition: 0.5s;
  z-index: 0;
}

#BGoptionProjectSculptMan:hover::before {
  cursor: pointer;
  filter: blur(0px) grayscale(0%);
  transition: 0.5s;
}

/*------------------*/

/* Code for background section project SculptHead */

#BGoptionProjectSculptHead {
  position: relative;
  overflow: hidden;
}

#BGoptionProjectSculptHead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../ImagesVideos/BG_ProjectSculptHeadOption.png);
  background-size: cover;
  background-position: center;
  filter: blur(3px) grayscale(100%);
  transition: 0.5s;
  z-index: 0;
}

#BGoptionProjectSculptHead:hover::before {
  cursor: pointer;
  filter: blur(0px) grayscale(0%);
  transition: 0.5s;
}

/*------------------*/

/* Code for background section project Car Rigging */

#BGoptionProjectCarRig {
  position: relative;
  overflow: hidden;
}

#BGoptionProjectCarRig::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../ImagesVideos/BG_ProjectRigCarOption.png);
  background-size: cover;
  background-position: center;
  filter: blur(3px) grayscale(100%);
  transition: 0.5s;
  z-index: 0;
}

#BGoptionProjectCarRig:hover::before {
  cursor: pointer;
  filter: blur(0px) grayscale(0%);
  transition: 0.5s;
}

/*------------------*/


.ContainerSliderCompar {
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.slider-example-focus {
  width: 80%;
  border-radius: 20px;
}

/* STYLES SOBRE MI */

#BodySobreMi {
  display: flex;
  flex-direction: column;
}

.ContainerTextAbtMe {
  /* background-color: #22ce89; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.TxtAboutMe {
  width: 70%;
  padding: 1%;
  text-align: justify;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

/*------------------*/

/* STYLES CONEIXEMENTS */

.ContainerKnowledges {
  /* background-color: #22ce89; */
  color: white;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh;
}

#GeneralContainerCards {
  /* background-color: #ddd; */
  margin-top: 6%;
  text-align: center;
  width: 80%;
}

#ContainerFlexCards {
  width: 100%;
  /* background-color: #116241; */
  height: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  padding-bottom: 2.5%;
}

.Card {
  width: 25%;
  border-radius: 10px;
  background: #116242a2;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.40),
    0 4px 20px #116242a2;
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
}

.ContainerLogo {
  /* background-color:violet; */
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NameApp {
  color: white;
  font-size: 2em;
}

hr {
  height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgb(255, 255, 255)));
  border: none;
}